{% extends 'base.html.twig' %}

{% block title %}Ajouter un concert{% endblock %}

{% block body %}
    <h1>Ajouter un concert</h1>

    {{ form_start(form) }}
        {{ form_row(form.artist, {'label':'Artiste'}) }}
        {{ form_row(form.stage, {'label':'Scène'}) }}
        {{ form_row(form.dateStart, {'label':'Date de début'}) }}
        {{ form_row(form.dateEnd, {'label':'Date de fin'}) }}
        <button type="submit">Ajouter le concert</button>
    {{ form_end(form) }}
{% endblock %}