{% extends 'base.html.twig' %}

{% block title %}Ajouter un partenaire{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau partenaire</h1>

    {{ form_start(form) }}
        {{ form_row(form.label, {'label':'Label','attr':{'placeholder':'Label'}}) }}
        {{ form_row(form.picture, {'label':'Image','attr':{'placeholder':'Image'}}) }}
        {{ form_row(form.url, {'label':'URL redirection','attr':{'placeholder':'URL redirection'}}) }}
        <button type="submit">Ajouter le partenaire</button>
    {{ form_end(form) }}
{% endblock %}